@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

/* Only apply these rules for screens smaller than 768px */
@media (max-width: 768px) {
  /* Target the body or the main wrapper */
  body, html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, and Opera */
  }
}